{% assign count = 0 %}
{% for email in emails %}
  {% assign count = count | plus: 1 %}
<li class="email" id="email-{{ count }}">
    <div class="card">
      <div class="email__actions" aria-describedby="author-{{ count }}">
        <span class="email__initials" aria-hidden="true">
          {% for name in email.sender %}
          {% if email.profileImg == "" %}
            {{ name.initials }}</h3>
            {% else %}
            <img
            alt="{{ name.fullname }} profile picture"
            src={{ email.profileImg }}
            /> 
          {% endif %}
        {% endfor %}
           </span>
        <input
          id="select_email-{{ count }}"
          type="checkbox"
          class="email__checkbox"
          name="select_email-{{ count }}"
        />
        <span class="checkmark" aria-hidden="true"></span>
        <label for="select_email-{{ count }}"> From </label>
      </div>
      <div class="email__details">
        <a href="#">
          <span class="visually-hidden">Link</span>
        </a>
        {% for name in email.sender %}
        <h3 id="author-{{ count }}">{{ name.fullname }}</h3>
        {% endfor %}
        <p>
          <span>{{ email.subject }}</span> - {{ email.body }}
        </p>
        <div class="email__priority">
          <div>
            <time class="email__datetime" datetime="2024-11-18 19:00">
              {{ email.timestamp }}
            </time>
            {% if email.pinned %}
              <img
                src="/assets/svg/pin-illustrative.svg"
                alt="Pin icon"
                class="pinned-icon visible"
              />
            </div>
            {% else %}
            </div>
              <div class="email__star-container">
                <input
                id="star-email-{{ count }}"
                type="checkbox"
                class="star__checkbox"
                name="star-email-{{ count }}"
                />
                <span class="star-icon"></span>
                <label for="star-email-{{ count }}"> star this email </label>
                </div>
          {% endif %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}