@use "sass:map";
@use 'sass:color';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --offwhite: #e9ecf2;
  --gold: #ffa800;
  --lightest-gray: #dddeea;
  --light-gray: #c8c8d8;
  --dark-gray: 46, 46, 56;
  --blue: #0164ee;
  --interactive: var(--blue);
  --global-bg: var(--lightest-gray);
  --border: var(--light-gray);
  --bg-card: var(--offwhite);
  --bg-checkbox: var(--light-gray);
  --jakarta: "Plus Jakarta Sans", system-ui, -apple-system, sans-serif;
  --body: "Inter", system-ui, -apple-system, sans-serif;
  --text-color: rgba(var(--dark-gray), 0.8)
}

body {
  background-color: var(--global-bg);
  color: var(--text-color);
  font-optical-sizing: auto;
}

main[data-theme='long'] .email__details {
  --compact-grid: 1fr / 0 25% minmax(auto, 948px) min-content;
  --compact-flow: row;
}

main[data-theme='compact'] .email__details {
  --compact-grid: 0 1fr 1fr / 1fr min-content;
  --compact-flow: column;
}


// @include responsize("mobile") {
//   .email__details {
//     grid-auto-flow: column;
//     grid-template: 0 1fr 1fr / 1fr min-content;
//   }
// }

// @include responsize("tablet") {
//   .email__details {
//     grid-auto-flow: row;
//     grid-template: 1fr / 0 25% minmax(auto, 948px) min-content;
//   }
// }


/* ---- Breakpoints ---- */

$breakpoints: (
  "mobile": 375px,
  "tablet": 768px,
  "laptop": 1024px,
);

@mixin responsize($bp) {

  @if map.has-key($breakpoints, $bp) {
    
    $breakpoint: map.get($breakpoints, $bp);

    @media screen and (min-width: $breakpoint) {
      @content;
    }

  } @else {
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

/* ---- Mobile / Desktop Hidden ---- */

.mobile-hidden {
  display: none;
  visibility: hidden;
}

.desktop-hidden {
  display: block;
  visibility: visible;
}

@include responsize("tablet") {
  .mobile-hidden {
    display: block;
    visibility: visible;
  }
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

/* ---- Icon SVGs ---- */

$star-icon: url(/assets/svg/star-outline.svg);
$search-icon: url(/assets/svg/search-icon.svg);
$checkmark-icon: url(/assets/svg/checkmark-outline.svg);
$search-icon: url(/assets/svg/search-icon.svg);
$menu-icon: url(/assets/svg/menu-24px.svg);
$trash-icon: url(/assets/svg/trash-icon.svg);
$archive-icon: url(/assets/svg/all-inboxes-icon.svg);
$flame-icon: url(/assets/svg/flame-icon.svg);
$more-icon: url(/assets/svg/more-icon.svg);
$compose-icon: url(/assets/svg/compose-icon.svg);
$draft-icon: url(/assets/svg/draft-icon.svg);
$inbox-icon: url(/assets/svg/inbox-icon.svg);

$icons:
  "star" $star-icon,
  "search" $search-icon,
  "checkmark" $checkmark-icon, 
  "menu" $menu-icon,
  "trash" $trash-icon,
  "archive" $archive-icon,
  "flame" $flame-icon,
  "more" $more-icon,
  "compose" $compose-icon,
  "draft" $draft-icon,
  "inbox" $inbox-icon;

/* ---- Usecase specific styling ---- */

@mixin text-truncate {
  display:inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
}

@mixin list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
  height: 100%;
  & * {
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-start;
  }
}

/* ---- Animations ---- */
  
@keyframes slideOut {
  to { transform: translateX(0); }
}

@keyframes slideIn {
  from { transform: translateX(0); }
  to { transform: translateX(-100vw); }
}

.fade-in ~ #scrim {
  animation: fadeIn 1s 1 forwards;
  -webkit-animation: fadeIn 300ms 1 forwards;
}

.fade-out ~ #scrim {
  animation: fadeOut 1s 1 forwards;
  -webkit-animation: fadeOut 300ms 1 forwards;  
}

@keyframes fadeIn {
  0% { visibility: hidden; opacity: 0; }
  100% { visibility: visible; opacity: 1; }
}

@keyframes fadeOut {
  0% { visibility: visible; opacity: 1; }
  100% { visibility: hidden; opacity: 0; }
}
  