@use "sass:map";
@import url("reset.css");
@import 'globals';

body {
  display: grid;
  height: 100vh;
}

/* -----------
  GRID
/----------- */ 

/*- min-width: 375px -*/

@include responsize("mobile") {
  body {
    grid-template: auto 1fr / 0 1fr;
  }
  main {
    grid-column: 2 / span 2;
    grid-row: span 1;
  }
  nav#primary-nav{
    grid-row: span 2 / 2;
  }
  header#main-header {
    grid-row: span 1 / 1;
    grid-column: 2;
  }
  aside {
    grid-row: 3 / span 2;
    grid-column: 2;
  }
  footer {
    grid-column: 2;
    grid-row: 2;
  }
}

/*- min-width: 768px -*/

@include responsize("tablet") {
  body {
    grid-template: min-content max-content / min-content auto calc(100vw * 56 / 128.0);
  }
  main {
    grid-row: 2 / span 2;
    grid-column: 2 / span 2;
  }
  nav#primary-nav {
    grid-row: 1 / span 2;
    grid-column: 1;
  }
  header#main-header {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
  aside {
    grid-row: 1 / span 3;
    grid-column: 3;
  }
  footer {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
  }
}

header, main {
  max-width: map.get($breakpoints, "laptop");
}

/* -----------
  TYPOGRAPHY
/----------- */ 

h1,
h2,
h3 {
  display: inline-flex;
  font-weight: 500;
  color: rgba(var(--dark-gray));
  flex-grow: 1;
}

h1 {
  font-size: 1rem;
  white-space: wrap;
  font-family: var(--jakarta);
}

h2 {
  align-items: baseline;
  gap: 0.5rem;
  font-family: var(--body);
  
}

h2 > #unread-count {
  font-size: 0.75rem;
  max-height: 1.5rem;
  align-items: baseline;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 0.75rem;
  font-family: var(--body);
}

p {
  font-size: 0.875rem;
  flex-grow: 1;
  font-family: var(--body);
}

a {
  text-decoration: none;
  font-family: var(--body);
}

a:visited {
  color: inherit;
}

ul {
  overflow: hidden;
}

time, .label, span {
  font-size: 0.75rem;
  font-family: var(--body);
  font-weight: 600;
  line-height: 1.5;
}

span {
  font-family: var(--body);
}

.email__unread {
  font-weight: 700;
  color: rgb(var(--dark-gray));
}

.email__actions .email__initials {
  font-size: 0.75rem;
}

.email__details h3 {
  @include text-truncate;
  font-size: 0.75rem;
  font-weight: 600;
}

.email__details p, .email__details p > span {
  @include text-truncate;
  max-width: 900px;
  line-height: 1.2;
  border-radius: 0;
}

@include responsize("tablet") {
  h1, h2 {
    font-weight: 700;
    width: 100%;
    align-items: center;
  }
  p {
    font-size: 1rem;
    flex-grow: 1;
  }
  .email__details h3 {
    font-size: 0.875rem;
  }
}

/* -----------
  LAYOUT
  TODO: Organize this area
/----------- */ 

.card {
  @include list-item;
  gap: 0.5rem;
  height: 48px;
  margin: 0.5rem 0;
}

main {
  display: flex;
  flex-direction: column;
}

nav#primary-nav {
  position: sticky;
  z-index: 2;
  max-width: 300px;
  width: 100%;
}

header#main-header {
  display: flex;
  height: 48px;
  & > * ~ * {
    border-radius: 0.5rem;
    margin: auto;
  }
}

h2 > #unread-count {
  width: max-content;
  background-color: var(--light-gray);
  padding: 0.15rem 0.5rem 0.15rem 0.15rem;
  border-radius: 1rem;
}

h2 > #unread-count::before {
  content: "1";
  display: inline-flex;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 0.25rem;
  font-size: 0.75rem;
}

aside {
  width: 100%;
  visibility: hidden;
}

footer {
  align-self: end;
  padding: 1rem;
}

h2, section > :first-child {
  margin: 1rem 1rem 0.5rem 1rem;
}

@include responsize("tablet"){
  h2, section > :first-child {
    margin: 1rem 0 0.5rem 0;
  }
  #clock {
    height: 18px;
    animation: 1s ease-out 1s 1 fadeIn;
    animation-play-state: running;
  }
  #greeting {
    height: 48px;
    width: fit-content;
    margin-left: 1rem;
  }
}


/*-- Add .list-resize transition to <main> onClick --*/ 

header#main-header, main {
  transition: grid-column 0.5s;
  transition-behavior: allow-discrete;
}

.list-resize {
  grid-column: 2 / span 1!important;
}

.show {
  visibility: visible;
}

/* -----------
  SEARCH BAR
/----------- */ 

form.search-bar {
  margin: 0 0.5rem 0 0;
  align-self: self-end;
  height: 1rem;
  padding: 0.25rem;
}

form.search-bar input[type="text"] {
  border: none;
  margin: 0 0 0 auto;
  padding: 0;
  height: 100%;
  background-color: transparent;
}

form.search-bar input[type="text"]::placeholder {
  text-align: right;
  color: var(--text-color);
}

form.search-bar button {
  border-color: transparent;
  background: transparent;
}

@include responsize("tablet") {
  form.search-bar {
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 300px;
    width: 100%;
    flex-grow: 1;
      &:hover{background-color: var(--light-gray);}
      &:focus, :focus-visible, :focus-within{background-color: var(--light-gray);}
  }
  form.search-bar input[type="text"] {
    width: 100%;
  }
}

/* -----------
  EMAIL
/----------- */ 

.email {
  flex-grow: 1;
  position: relative;
  padding: 0 0.5rem;
  max-height: 64px;
  height: 100%;
  &:hover > .card {
    transition: background-color 300ms ease-out;
    background-color: var(--light-gray);
  }
}

/* EMAIL | List ------
*/ 

.home__pinned .email {
  border-radius: 0.5rem;
}

.home__pinned .email .card {
  border: 1px solid var(--border);
}

.home__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  height: 100%;
}

.home__list .email:first-child {
  border-top: 1px solid var(--border);
}

.home__list .email:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

/* EMAIL | Structure ------
*/ 


.email__details,
.email__priority,
.email__actions {
  position: relative;
  max-height: 48px;
  margin: auto 0;
}

.email__actions,
.email__priority {
  & label {
    position: absolute;
    opacity: 0;
  }
  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
  }
  & label > img {
    max-width: 100%;
  }
}

/* EMAIL | Actions ------
*/ 

.email__actions {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48px;
  & input[type="checkbox"].email__checkbox:checked + span::before {
    background: center / 80% no-repeat $checkmark-icon
      #0164ee;
  }
  & input[type="checkbox"].email__checkbox + span {
    border: 1px solid var(--border);
    background-color: var(--bg-checkbox);
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

.email__actions .checkmark::before {
  content: " ";
  border-radius: 0.5rem;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.email__actions .email__initials {
  position: absolute;
}

/* EMAIL | Priority ------
*/ 

.email__priority {
  & input[type="checkbox"].star__checkbox:checked + span {
    background: var(--blue);
  }
  & input[type="checkbox"].star__checkbox + span {
    background: rgb(var(--dark-gray));
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

/* EMAIL | Email Priority ------

  Date and time recieved
*/ 

time.email__datetime {
  width: max-content;
  padding: 0 0.25rem;
  height: 1.125rem;
  border-radius: 0.625rem;
}


time.email__datetime::before {
  content: "sent\00a0";
  opacity: 0;
  width: 0;
}

.home__pinned time.email__datetime {
  background-color: var(--lightest-gray);
  border: 1px solid var(--lightest-gray);
}

.home__list time.email__datetime {
  background-color: transparent;
  border: 1px solid transparent;
}

/* EMAIL | Email Priority ------

  Star input
*/ 

.email__star-container {
  margin-right: 0.5rem;
}

/* EMAIL | Details ------
*/ 

.email__details {
  display: grid;
  width: 100%;
  padding: 0.5rem 0;
  & > * {
    border-radius: 0;
  }
  & #view-email {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    color: transparent;
    cursor: pointer;
  }
}

.email__details a::after, .email__details form::after {
  content: " ";
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.email__details p, .email__details h3 {
  margin: auto 0;
} 

.email__details p {
  letter-spacing: -0.3px;
}

/**
TODO: Instead of a breakpoint this could be a theme switch from compact to condensed
*/

@include responsize("mobile") {
  .email__details {
    grid-auto-flow: column;
    grid-template: 0 1fr 1fr / 1fr min-content;
  }
}

@include responsize("tablet") {
  .email__details {
    grid-auto-flow: row;
    grid-template: 1fr / 0 25% minmax(auto, 948px) min-content;
  }
}

/* -----------
  MISC
/----------- */ 

@media screen and (min-width: 768px) {
  aside {
    z-index: 1;
    width: 100%;
  }
  nav#primary-nav {
    z-index: 1;
    width: 232px;
  }
  header#main-header {
    gap: 1rem;
  }
}

/* -----------
  NAVIGATION
/----------- */ 

nav#primary-nav {
  height: 48px;
  align-items: start;
  // & > *:not(#close-btn, #search, .nav__links) {
  //   // align-items: center;
  //   margin: auto;
  // }
}

nav#primary-nav ul.nav__links {
  position: absolute;
  z-index: 2;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
  border: none;
  padding: 0;
  margin: 1rem 0;
}

nav#primary-nav .nav__link {
  @include list-item;
  flex-grow: 1;
  height: 48px;
  border-radius: 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
}

nav#primary-nav .nav__link > a {
  margin: auto auto auto 1rem;
  gap: 0.5rem;
  padding: 0;
}

nav#primary-nav .nav__container {
  position: absolute;
  height: 100vh;
  background-color: var(--global-bg);
  top: 0;
  border-right: 1px solid var(--border);
  width: 300px;
  background-color: var(--offwhite);
}

@include responsize("tablet") {
  nav#primary-nav, header#main-header {
    align-items: end;
    margin: 1rem 0;
  }
  nav#primary-nav {
    height: auto;
    position: relative;
    transform: translateX(0);
  }
  nav#primary-nav ul.nav__links {
    position: fixed;
    z-index: auto;
    width: auto;
    margin: 1rem 0 1rem 1rem;
  }
  nav#primary-nav .nav__container {
    display: none;
    visibility: hidden;
  }
  nav#primary-nav .nav__link {
    flex-grow: 1;
    border: none;
  }
  nav#primary-nav .nav__link > a {
    margin: auto auto auto 0;
  }
}

/* NAVIGATION | Slider Interaction ------
*/ 

.menu-icon {
  padding: 4px;
  margin: auto;
}

#menu-btn {
  width: 60px;
  height: 100%;
  background-color: transparent;
  border: transparent;
}

#close-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

#scrim {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgb(var(--dark-gray), 0.5);
  opacity: 0;
  border: none;
  z-index: 1;
  pointer-events: none;
}

/* NAVIGATION | Slider Interaction ------

  Animations
*/ 

nav#primary-nav.slider {
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
}

nav#primary-nav.slide-out {
  animation: slideOut 300ms 1 forwards;
  -webkit-animation: slideOut 300ms 1 forwards;
}

nav#primary-nav.slide-in {
  animation: slideIn 300ms 1 forwards;
  -webkit-animation: slideIn 300ms 1 forwards;
}

/* -----------
  EMAIL CONTENT VIEW
/----------- */ 

#email__content-view {
  & > * {
    padding: 0 0.5rem;
  }
}

.email__content {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100%);
  border: 1px solid var(--border);
  background-color: var(--offwhite);
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#email__subject {
  @include list-item;
  height: 100%;
}

div#email__sender {
  display: grid;
  grid-template: auto 1fr / 32px auto;
  grid-auto-flow: row;
  gap: 0.5rem;
  & #sender__actions {
    grid-column: 2 / span 1;
  }
}

@media screen and (min-width: 768px) {
  .email__content {
    border-left: 1px solid var(--border);
    width: calc(100vw * 56 / 128.0);
    overflow: hidden;
  }
}

#sender-icon {
  display: inline-flex;
}

#sender__actions > div {
  width: fit-content;
  border: 1px solid var(--border);
    border-radius: 0.5rem;
}

.actions {
  display: grid;
  grid-template: 1fr / repeat(4, 68px);
  gap: 1px;
  & > * {
    text-align: center;
    font-size: 0.75rem;
    padding-top: 0.25rem;
  }
}

@each $name, $svg in $icons {
  .#{$name}-icon {
    display: block;
    background: rgb(var(--dark-gray));
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    -webkit-mask: $svg no-repeat center;
    mask: $svg no-repeat center;
  }
}

.icon-btn {
  display: block;
  width: fit-content;
  margin: auto;
  padding: 0.25rem;
  background-color: var(--light-gray);
  border: 1px solid var(--border);
  border-radius: 0.25rem;
}
