@charset "UTF-8";
@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --offwhite: #e9ecf2;
  --gold: #ffa800;
  --lightest-gray: #dddeea;
  --light-gray: #c8c8d8;
  --dark-gray: 46, 46, 56;
  --blue: #0164ee;
  --interactive: var(--blue);
  --global-bg: var(--lightest-gray);
  --border: var(--light-gray);
  --bg-card: var(--offwhite);
  --bg-checkbox: var(--light-gray);
  --max-screen: 1024px;
  --fonts: system-ui, -apple-system, sans-serif;
  --text-color: rgba(var(--dark-gray), 0.8) ;
}

body {
  font-family: var(--fonts);
  background-color: var(--global-bg);
  color: var(--text-color);
}

/* ---- Breakpoints ---- */
/* ---- Mobile / Desktop Hidden ---- */
.mobile-hidden {
  visibility: hidden;
  display: none;
}

.desktop-hidden {
  visibility: block;
  display: visible;
}

@media screen and (min-width: 768px) {
  .mobile-hidden {
    display: block;
    visibility: visible;
  }
  .desktop-hidden {
    visibility: hidden;
    display: none;
  }
}
/* ---- Icon SVGs ---- */
/* ---- Usecase specific styling ---- */
body {
  display: grid;
  height: 100vh;
}

/* -----------
  GRID
/----------- */
/*- min-width: 375px -*/
@media screen and (min-width: 375px) {
  body {
    grid-template: auto 1fr/0 1fr;
  }
  main {
    grid-column: 2/span 2;
    grid-row: span 1;
  }
  nav#primary-nav {
    grid-row: span 2/2;
  }
  header#main-header {
    grid-row: span 1/1;
    grid-column: 2;
  }
  aside {
    grid-row: 3/span 2;
    grid-column: 2;
  }
  footer {
    grid-column: 2;
    grid-row: 2;
  }
}
/*- min-width: 768px -*/
@media screen and (min-width: 768px) {
  body {
    grid-template: min-content max-content/min-content auto 43.75vw;
  }
  main {
    grid-row: 2/span 2;
    grid-column: 2/span 2;
  }
  nav#primary-nav {
    grid-row: 1/span 2;
    grid-column: 1;
  }
  header#main-header {
    grid-column: 2/span 2;
    grid-row: 1;
  }
  aside {
    grid-row: 1/span 3;
    grid-column: 3;
  }
  footer {
    grid-column: 1/span 1;
    grid-row: 3/span 1;
  }
  section > :first-child {
    padding: 1rem 0 0.5rem 0;
  }
}
header, main {
  max-width: 1024px;
}

/* -----------
  TYPOGRAPHY
/----------- */
h1,
h2,
h3,
p {
  flex-grow: 1;
}

h1 {
  font-size: 1rem;
  white-space: nowrap;
  color: rgb(var(--dark-gray));
}

h2 {
  font-size: 0.75rem;
  font-weight: 500;
}

p {
  font-size: 0.875rem;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  overflow: hidden;
}

time {
  font-size: 0.75rem;
  line-height: 1.5;
  text-align: center;
}

.email__unread {
  font-weight: 700;
  color: rgb(var(--dark-gray));
}

.email__actions .email__initials {
  font-size: 0.75rem;
}

.email__details h3 {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  font-size: 0.875rem;
  font-weight: 600;
}

.email__details p, .email__details p > span {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.2;
  max-width: 900px;
  line-height: 1.2;
}

/* -----------
  LAYOUT
  TODO: Organize this area
/----------- */
.card {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.5rem;
  height: 100%;
  gap: 0.5rem;
  height: 48px;
  margin: 0.5rem 0;
}
.card * {
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
}

main {
  display: flex;
  flex-direction: column;
}

nav#primary-nav {
  position: sticky;
  z-index: 2;
  max-width: 300px;
  width: 100%;
}

header#main-header {
  display: flex;
}
header#main-header > * ~ * {
  border-radius: 0.5rem;
  margin: auto;
}
header#main-header h1::after {
  content: "1";
  display: inline-flex;
  background-color: var(--light-gray);
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  margin-left: 0.25rem;
  font-size: 0.75rem;
}

aside {
  width: 100%;
  visibility: hidden;
}

footer {
  align-self: end;
}

@media screen and (min-width: 375px) {
  section > :first-child {
    padding: 1rem 1rem 0.5rem 1rem;
  }
}
/*-- Add .list-resize transition to <main> onClick --*/
header#main-header, main {
  transition: grid-column 0.5s;
  transition-behavior: allow-discrete;
}

.list-resize {
  grid-column: 2/span 1 !important;
}

.show {
  visibility: visible;
}

/* -----------
  SEARCH BAR
/----------- */
form.search-bar {
  margin: 0 0.5rem 0 0;
  align-self: self-end;
  height: 1rem;
  padding: 0.25rem;
}

form.search-bar input[type=text] {
  border: none;
  margin: 0 0 0 auto;
  padding: 0;
  height: 100%;
  background-color: transparent;
}

form.search-bar input[type=text]::-moz-placeholder {
  text-align: right;
  color: var(--text-color);
}

form.search-bar input[type=text]::placeholder {
  text-align: right;
  color: var(--text-color);
}

form.search-bar button {
  border-color: transparent;
  background: transparent;
}

form.search-bar .search-icon {
  display: block;
  background: rgb(var(--dark-gray));
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: url(/assets/svg/search-icon.svg) no-repeat center;
  mask: url(/assets/svg/search-icon.svg) no-repeat center;
}

@media screen and (min-width: 768px) {
  form.search-bar {
    display: flex;
    margin: 0 0.5rem 0 0.5rem;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 300px;
    width: 100%;
    flex-grow: 1;
  }
  form.search-bar:hover {
    background-color: var(--light-gray);
  }
  form.search-bar:focus, form.search-bar :focus-visible, form.search-bar :focus-within {
    background-color: var(--light-gray);
  }
  form.search-bar input[type=text] {
    width: 100%;
  }
}
/* -----------
  EMAIL
/----------- */
.email {
  flex-grow: 1;
  position: relative;
  letter-spacing: -0.4px;
  padding: 0 0.5rem;
  max-height: 64px;
  height: 100%;
}
.email:hover > .card {
  transition: background-color 300ms ease-out;
  background-color: var(--light-gray);
}

/* EMAIL | List ------
*/
.home__pinned .email {
  border-radius: 0.5rem;
}

.home__pinned .email .card {
  border: 1px solid var(--border);
}

.home__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  height: 100%;
}

.home__list .email:first-child {
  border-top: 1px solid var(--border);
}

.home__list .email:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

/* EMAIL | Structure ------
*/
.email__details,
.email__priority,
.email__actions {
  position: relative;
  max-height: 48px;
  margin: auto 0;
}

.email__actions label,
.email__priority label {
  position: absolute;
  opacity: 0;
}
.email__actions input[type=checkbox],
.email__priority input[type=checkbox] {
  position: absolute;
  opacity: 0;
  inset: 0;
  cursor: pointer;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 48px;
  height: 48px;
}
.email__actions label > img,
.email__priority label > img {
  max-width: 100%;
}

/* EMAIL | Actions ------
*/
.email__actions {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48px;
}
.email__actions input[type=checkbox].email__checkbox:checked + span::before {
  background: center/80% no-repeat url(/assets/svg/checkmark-outline.svg) #0164ee;
}
.email__actions input[type=checkbox].email__checkbox + span {
  border: 1px solid var(--border);
  background-color: var(--bg-checkbox);
}
.email__actions > :is(input[type=checkbox]:checked) ~ label {
  opacity: 0;
}

.email__actions .checkmark::before {
  content: " ";
  border-radius: 0.5rem;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.email__actions .email__initials {
  position: absolute;
}

/* EMAIL | Priority ------
*/
.email__priority input[type=checkbox].star__checkbox:checked + span {
  background: var(--blue);
}
.email__priority input[type=checkbox].star__checkbox + span {
  background: rgb(var(--dark-gray));
}
.email__priority > :is(input[type=checkbox]:checked) ~ label {
  opacity: 0;
}

/* EMAIL | Email Priority ------

  Date and time recieved
*/
time {
  width: -moz-max-content;
  width: max-content;
}

time.email__datetime {
  padding: 0 0.25rem;
  height: 1.125rem;
  border-radius: 0.625rem;
}

time.email__datetime::before {
  content: "sent ";
  opacity: 0;
  width: 0;
}

.home__pinned time.email__datetime {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
}

.home__list time.email__datetime {
  background-color: transparent;
  border: 1px solid transparent;
}

/* EMAIL | Email Priority ------

  Star input
*/
.email__star-container {
  margin-right: 0.5rem;
}

.email__priority .star {
  display: block;
  background: rgb(var(--dark-gray));
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: url(/assets/svg/star-outline.svg) no-repeat center;
  mask: url(/assets/svg/star-outline.svg) no-repeat center;
}

/* EMAIL | Details ------
*/
.email__details {
  display: grid;
  width: 100%;
  padding: 0.5rem 0;
}
.email__details > * {
  border-radius: 0;
}
.email__details #view-email {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 0;
  color: transparent;
}

.email__details a::after, .email__details form::after {
  content: " ";
  position: absolute;
  cursor: pointer;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.email__details p > span {
  display: inline-flex;
}

.email__details p > span::after {
  content: " – ";
}

.email__details p, .email__details h3 {
  margin: auto 0;
}

@media screen and (min-width: 375px) {
  .email__details {
    grid-auto-flow: column;
    grid-template: 0 1fr 1fr/1fr min-content;
  }
}
@media screen and (min-width: 768px) {
  .email__details {
    grid-auto-flow: row;
    grid-template: 1fr/0 25% minmax(auto, 948px) min-content;
  }
}
/* -----------
  MISC
/----------- */
@media screen and (min-width: 768px) {
  aside {
    z-index: 1;
    width: 100%;
  }
  nav#primary-nav {
    z-index: 1;
    width: 168px;
  }
  header#main-header {
    gap: 1rem;
  }
}
/* -----------
  NAVIGATION
/----------- */
nav#primary-nav, header#main-header {
  height: 48px;
  align-items: start;
}
nav#primary-nav > *:not(#close-btn, #search), header#main-header > *:not(#close-btn, #search) {
  align-items: center;
  margin: auto;
}

nav#primary-nav ul.nav__links {
  position: absolute;
  z-index: 2;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
}

nav#primary-nav .nav__link {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 0.5rem;
  height: 100%;
  flex-grow: 1;
  height: 48px;
  border-radius: 0;
  border-bottom: 1px solid var(--border);
  width: 100%;
}
nav#primary-nav .nav__link * {
  border-radius: 0.5rem;
  display: flex;
  align-items: flex-start;
}

nav#primary-nav .nav__link > a {
  margin: auto auto auto 1rem;
  padding: 0;
}

nav#primary-nav .nav__container {
  position: absolute;
  height: 100vh;
  background-color: var(--global-bg);
  top: 0;
  border-right: 1px solid var(--border);
  width: 300px;
  background-color: var(--offwhite);
}

@media screen and (min-width: 768px) {
  nav#primary-nav, header#main-header {
    align-items: end;
  }
  header#main-header {
    margin: 1rem 0;
  }
  nav#primary-nav {
    position: relative;
    transform: translateX(0);
  }
  nav#primary-nav button {
    margin: 1rem 0 1rem 2rem;
  }
  nav#primary-nav ul.nav__links {
    position: relative;
    z-index: auto;
    width: auto;
    margin-left: 2rem;
  }
  nav#primary-nav .nav__container {
    display: none;
    visibility: hidden;
  }
  nav#primary-nav .nav__link {
    flex-grow: 1;
    border: none;
  }
  nav#primary-nav .nav__link > a {
    margin: auto auto auto 0;
  }
}
/* NAVIGATION | Slider Interaction ------
*/
.menu-icon {
  display: block;
  background: rgb(var(--dark-gray));
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: url(/assets/svg/menu-24px.svg) no-repeat center;
  mask: url(/assets/svg/menu-24px.svg) no-repeat center;
  padding: 4px;
  margin: auto;
}

#menu-btn {
  width: 60px;
  height: 100%;
  background-color: transparent;
  border: transparent;
}

#close-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: transparent;
  border: none;
}

#scrim {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: rgb(var(--dark-gray), 0.5);
  opacity: 0;
  border: none;
  z-index: 1;
  pointer-events: none;
}

/* NAVIGATION | Slider Interaction ------

  Animations
*/
nav#primary-nav.slider {
  transform: translateX(-100vw);
  -webkit-transform: translateX(-100vw);
}

nav#primary-nav.slide-out {
  animation: slideOut 300ms 1 forwards;
  -webkit-animation: slideOut 300ms 1 forwards;
}

nav#primary-nav.slide-in {
  animation: slideIn 300ms 1 forwards;
  -webkit-animation: slideIn 300ms 1 forwards;
}

@keyframes slideOut {
  to {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}
.fade-in ~ #scrim {
  animation: fadeIn 1s 1 forwards;
  -webkit-animation: fadeIn 300ms 1 forwards;
}

.fade-out ~ #scrim {
  animation: fadeOut 1s 1 forwards;
  -webkit-animation: fadeOut 300ms 1 forwards;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
/* -----------
  EMAIL CONTENT VIEW
/----------- */
.email__content {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--border);
  background-color: var(--offwhite);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .email__content {
    border-left: 1px solid var(--border);
    width: 43.75vw;
    overflow: hidden;
  }
}/*# sourceMappingURL=style.css.map */