@import url("reset.css");
@import 'globals';
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@mixin text-truncate {
  display:inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin list-item {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1rem;
  gap: 0.5rem;
  height: 100%;
  & * {
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
  }
}

body {
  display: grid;
  height: 100vh;
  grid-template: auto 1fr / 1fr;
}

section > :first-child {
  padding: 1rem 2.4rem 0.5rem 0;
}

section#all-emails {
  flex-grow: 1;
}

aside {
  grid-row: 3 / span 2;
  grid-column: 2;
  width: 100%;
}

footer {
  grid-column: 1 / span 2;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  overflow: hidden;
}

h1,
h2,
h3 {
  flex-grow: 1;
}

p {
  flex-grow: 1;
  font-size: 0.875rem;
}

h2 {
  font-size: 0.75rem;
  font-weight: 500;
}

main {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

nav#primary_nav {
  grid-row: span 2 / 2;
  position: sticky;
  z-index: 1;
  max-width: 300px;
  width: 100%;
}

header#main-header {
  grid-row: span 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-screen);
  gap: 1rem;
  & > * ~ * {
    border-radius: 1rem;
  }
}

form.search-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #fff;
}

form.search-bar input[type="text"] {
  width: 100%;
  border: 1px solid transparent;
}

form.search-bar button {
  border-color: transparent;
  background: transparent;
}

form.search-bar .search-icon {
  background: var(--dark-gray);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: $search-icon no-repeat center;
  mask: $search-icon no-repeat center;
}

header h1::after {
  content: "2";
  display: inline-flex;
  background-color: var(--light-gray);
  font-weight: 700;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  font-size: 0.875rem;
  margin-left: 0.25rem;
}

.card {
  @include list-item;
}

.home__pinned {
  margin: 0 0.5rem;
}

.home__pinned .email {
  border-radius: 1rem;
}

.home__pinned .email .card {
  background-color: var(--bg-card);
  border: 1px solid var(--border);
}

.home__list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  height: 100%;
}

.home__list .email:first-child {
  border-top: 1px solid var(--border);
}

.home__list .email {
  flex-grow: 1;
  position: relative;
  letter-spacing: -0.4px;
  background-color: transparent;
  transition: background-color 300ms ease-out;
  border-bottom: 1px solid var(--border);
  padding: 0 0.5rem;
  max-height: 64px;
  height: 100%;
  &:hover {
    background-color: var(--bg-card);
  }
}

.home__list .email .card,
.home__pinned .email .card {
  height: 64px;
}

.email__unread {
  font-weight: 700;
  color: #000;
}

.home__list .email .card.email__unread time.email__datetime {
  background-color: var(--light-gray);
  border: 1px solid var(--border);
}

.email__details,
.email__priority,
.email__actions {
  gap: 0.25rem;
  position: relative;
  max-height: 48px;
  margin: auto 0;
}

.email__actions,
.email__priority {
  & label {
    position: absolute;
    opacity: 0;
  }
  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 48px;
    height: 48px;
  }
  & label > img {
    max-width: 100%;
  }
}

.email__actions {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 48px;
  & input[type="checkbox"].email__checkbox:checked + span::before {
    background: center / 80% no-repeat $checkmark-icon
      #0164ee;
  }
  & input[type="checkbox"].email__checkbox + span {
    border: 1px solid var(--border);
    background-color: var(--bg-checkbox);
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

.email__actions .checkmark::before {
  content: " ";
  border-radius: 1rem;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.email__actions .email__initials {
  position: absolute;
  font-size: 0.75rem;
}

.email__priority {
  & input[type="checkbox"].star__checkbox:checked + span {
    background: var(--gold);
  }
  & input[type="checkbox"].star__checkbox + span {
    background: var(--dark-gray);
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

.email__details {
  display: grid;
  grid-template: 0 1fr 1fr / 1fr min-content;
  grid-auto-flow: column;
  width: 100%;
  padding: 1rem 0;
  & > * {
    border-radius: 0;
  }
}

.email__details a::after {
    content: " ";
    position: absolute;
    cursor: pointer;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.email__details h3 {
  @include text-truncate;
  font-size: 0.875rem;
  font-weight: 600;
}

.email__details p {
  @include text-truncate;
  max-width: 900px;
  line-height: 1.2;
}

.email__details p, .email__details h3 {
  margin: auto 0;
} 

time {
  font-size: 0.75rem;
  width: max-content;
}

.email__priority time.email__datetime {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 0.25rem;
  height: 1.125rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.625rem;
}

.email__priority time.email__datetime::before {
  content: "sent\00a0";
  opacity: 0;
  width: 0;
}

.email__star-container {
  margin-right: 0.5rem;
}

.email__priority .star {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: $star-icon no-repeat center;
  mask: $star-icon no-repeat center;
}

@media screen and (min-width: 768px) {
  body {
    grid-template: auto max-content 1fr / min-content auto;
  }
  aside {
    grid-row: 3 / span 4;
    grid-column: 2 / span 2;
    width: 100%;
  }
  nav#primary_nav {
    width: 258px;
    grid-row: 1 / span 2;
  }
  header#main-header {
    grid-column: 2 / span 2;
    grid-row: 1;
  }
  .home__list p,
  .home__pinned p {
    font-size: 1rem;
  }
  .email__details {
    grid-auto-flow: row;
    grid-template-rows: 1fr;
    grid-template-columns: 0 25% minmax(auto, 948px) min-content;
  }
}

nav#primary_nav button {
  position: sticky;
  z-index: 2;
}

nav#primary_nav ul.nav__links {
  position: absolute;
  z-index: 2;
  width: 300px;
  display: flex;
  flex-flow: column nowrap;
}

nav#primary_nav .nav__link {
  flex-grow: 1;
  height: 48px;
  border-radius: 0;
  border-bottom: 1px solid var(--border);
}

nav#primary_nav .nav__link > a {
  margin: auto auto auto 1rem;
  padding: 0;
}

nav#primary_nav .nav__scrim {
  position: absolute;
  height: 100vh;
  background-color: var(--global-bg);
  top: 0;
  border-right: 1px solid var(--border);
  width: 300px;
}

@media screen and (min-width: 768px) {
  header#main-header {
    margin: 1rem 0;
    padding: 0 2.4rem 0 0;
  }
  nav#primary_nav button {
    margin: 1rem 0 1rem 2rem;
  }
  nav#primary_nav ul.nav__links {
    position: relative;
    z-index: auto;
    width: auto;
    margin-left: 2rem;
  }
  nav#primary_nav .nav__scrim {
    display: none;
    visibility: hidden;
  }
  nav#primary_nav .nav__link {
    flex-grow: 1;
    border: none;
  }
  nav#primary_nav .nav__link > a {
    margin: auto auto auto 0;
  }
}

.email__content {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100% - 55px);
  aspect-ratio: 3 / 4;
  background-color: var(--offwhite);
}