@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --whiteish: #eeeeee;
  --gold: #ffa800;
  --lightest-gray: #dddeea;
  --light-gray: #c8c8d8;
  --dark-gray: #2e2e38;
  --blue: #0164ee;
  --bg: var(--lightest-gray);
  --border: var(--light-gray);
  font-family: "Public Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  background-color: var(--bg);
}

body {
  display: grid;
  grid-template: auto 1fr / 1fr;
}

section > :first-child {
  padding: 1rem 2.4rem 0.5rem 0;
}

section#all-emails {
  flex-grow: 1;
}

a {
  color: var(--dark-gray);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

ul {
  overflow: hidden;
}

h1, h2, h3 {
  flex-grow: 1;
  white-space: nowrap;
}

p {
  flex-grow: 1;
}

h2 {
  text-align: right;
  font-size: 0.75rem;
  font-weight: 700;
}

main {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
}

nav {
  grid-row: span 2 / 2;
}

header {
  grid-row: span 2 / 2;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  & > * ~ *  {
    border-radius: 1rem;
  }
}

header h1 {
  text-align: right;
  order: 1;
}

form.search-bar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: #fff;
}

form.search-bar input[type="text"] {
  width: 100%;
  border: 1px solid transparent;
}

form.search-bar button {
  border-color: transparent;
  background: transparent;
}

form.search-bar .search-icon {
  background: var(--dark-gray);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: url(/assets/svg/search-icon.svg) no-repeat center;
  mask: url(/assets/svg/search-icon.svg) no-repeat center;
}

header h1::after {
  content: "2";
  display: inline-flex;
  background-color: var(--blue);
  color: var(--whiteish);
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 99px;
  font-size: 0.875rem;
  margin-left: 0.25rem;
}

.card {
  display: flex;
  flex-flow: row nowrap;
  border-radius: 1rem;
  gap: 0.5rem;
  & * {
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
  }
}

.home__pinned {
  margin: 0 0.5rem;
}

.home__pinned .email {
  border-radius: 1rem;
}

.home__pinned .email .card {
  background-color: var(--whiteish);
  border: 1px solid var(--border);
  height: 64px;
}

.home__list {
  display: flex;
  flex-flow: column nowrap;
  border-top: 1px solid var(--border);
}

.home__list .email {
  flex-grow: 1;
  position: relative;
  letter-spacing: -0.4px;
  background-color: transparent;
  transition: background-color 300ms ease-out;
  border-bottom: 1px solid var(--border);
  padding: 0 0.5rem;
  &:hover {
    background-color: var(--whiteish);
  }
}

.home__list .email .card,
.home__pinned .email .card {
  align-items: center;
  justify-content: center;
  height: 64px;
}


.home__list .email .card.email__unread {
  font-weight: 600;
  color: #000;
}

.home__list .email .card.email__unread time.email__datetime {
  background-color: var(--light-gray);
  border: 1px solid var(--border);
}

.email__details,
.email__priority,
.email__actions {
  gap: 0.25rem;
  position: relative;
  height: 100%;
  max-height: 48px;
  padding: 0.5rem 0;
}

.email__actions,
.email__priority {
  & label {
    position: absolute;
    opacity: 0;
  }
  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    inset: 0;
    cursor: pointer;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  & label > img {
    max-width: 100%;
  }
}

.email__actions {
  align-items: center;
  justify-content: center;
  max-width: 48px;
  width: 100%;
  & input[type="checkbox"].email__checkbox:checked + span::before {
    background: center / 80% no-repeat url(/assets/svg/checkmark-outline.svg)
      #0164ee;
  }
  & input[type="checkbox"].email__checkbox + span {
    border: 1px solid var(--border);
    background-color: var(--light-gray);
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

.email__actions .checkmark::before {
  content: " ";
  border-radius: 1rem;
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.email__actions .email__initials {
  position: absolute;
  font-size: 0.75rem;
}

.email__priority {
  & input[type="checkbox"].star__checkbox:checked + span {
    background: var(--gold);
  }
  & input[type="checkbox"].star__checkbox + span {
    background: var(--dark-gray);
  }
  & > :is(input[type="checkbox"]:checked) ~ label {
    opacity: 0;
  }
}

.email__details {
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
  & > * {
    align-items: center;
    max-height: 2rem;
    height: 100%;
  }
  &::after {
    content: " ";
    position: absolute;
    cursor: pointer;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.email__details h3 {
  font-size: 0.875rem;
}

time {
  font-size: 0.75rem;
  width: max-content;
}

.email__priority time.email__datetime {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0 0.25rem;
  height: 1.125rem;
  line-height: 1.5;
  text-align: center;
  border-radius: 0.625rem;
}

.email__priority time.email__datetime::before {
  content: "sent\00a0";
  opacity: 0;
  width: 0;
}

.email__star-container {
  margin-right: 0.5rem;
}

.email__priority .star {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  -webkit-mask: url(/assets/svg/star-outline.svg) no-repeat center;
  mask: url(/assets/svg/star-outline.svg) no-repeat center;
}

@media screen and (min-width: 1024px) {
  body {
    height: 100svh;
    grid-template: auto 1fr auto / auto 1fr auto;
  }
  nav {
    width: 258px;
    grid-row: 1 / span 2;
  }
  aside {
    grid-row: 3 / span 1;
    grid-column: 2;
  }
  header {
    grid-column: 2 / span 3;
    grid-row: 1;
  }
}
