@use "sass:map";
@use "sass:color";
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --offwhite: #f5f5f4;
  --gold: #ffa800;
  --lightest-gray: #f5f1ed;
  --light-gray: #ffcf74;
  --dark-gray: 46, 46, 56;
  --active: rgb(46, 46, 56);
  --interactive: var(--active);
  --global-bg: var(--lightest-gray);
  --border: #dddeea;
  --bg-card: var(--offwhite);
  --badge: #c8c8d8;
  --bg-checkbox: var(--light-gray);
  --hover-bg: #dddeea;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.visually-hidden {
	border: 0 !important;
	clip: rect(1px,1px,1px,1px) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	white-space: nowrap !important;
	width: 1px !important;
  }

/**  End of resets  **/

main[data-theme="long"] .email__details {
  --compact-grid: 1fr / 0 25% minmax(auto, 948px) min-content;
  --compact-flow: row;
}

main[data-theme="compact"] .email__details {
  --compact-grid: 0 1fr auto / 1fr min-content;
  --compact-flow: column;
}

// @debug color.mix(#eaecf2, #fff6e7);

/* ---- Breakpoints ---- */

$breakpoints: (
  "mobile": 320px,
  "tablet": 768px,
  "laptop": 1024px,
);

@mixin responsize($bp) {
  @if map.has-key($breakpoints, $bp) {
    $breakpoint: map.get($breakpoints, $bp);

    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$bp}.';
  }
}

/* ---- Mobile / Desktop Hidden ---- */

.mobile-hidden {
  display: none;
  visibility: hidden;
}

.desktop-hidden {
  display: block;
  visibility: visible;
}

@include responsize("tablet") {
  .mobile-hidden {
    display: block;
    visibility: visible;
  }
  .desktop-hidden {
    display: none;
    visibility: hidden;
  }
}

/* ---- Icon SVGs ---- */

$star-icon: url(/assets/svg/star-outline.svg);
$search-icon: url(/assets/svg/search-icon.svg);
$checkmark-icon: url(/assets/svg/checkmark-outline.svg);
$search-icon: url(/assets/svg/search-icon.svg);
$menu-icon: url(/assets/svg/menu-24px.svg);
$trash-icon: url(/assets/svg/trash-icon.svg);
$archive-icon: url(/assets/svg/all-inboxes-icon.svg);
$flame-icon: url(/assets/svg/flame-icon.svg);
$more-icon: url(/assets/svg/more-icon.svg);
$compose-icon: url(/assets/svg/compose-icon.svg);
$draft-icon: url(/assets/svg/draft-icon.svg);
$inbox-icon: url(/assets/svg/inbox-icon.svg);
$forward-icon: url(/assets/svg/forward-icon.svg);
$reply-icon: url(/assets/svg/reply-icon.svg);
$back-icon: url(/assets/svg/back-icon.svg);

$icons: "star" $star-icon, "search" $search-icon, "checkmark" $checkmark-icon,
  "menu" $menu-icon, "trash" $trash-icon, "archive" $archive-icon,
  "flame" $flame-icon, "more" $more-icon, "compose" $compose-icon,
  "draft" $draft-icon, "inbox" $inbox-icon, "forward" $forward-icon,
  "back" $back-icon, "reply" $reply-icon;

/* ---- Usecase specific styling ---- */

@mixin text-truncate {
  display: inline-block;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: var(--lineh);
}

$card-h: 60px;

@mixin list-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border-radius: 0.5rem;
  gap: 0.5rem;
  height: 100%;
  & * {
    // border-radius: 0.5rem;
    display: flex;
    // align-items: flex-start;
  }
}

/* ---- Animations ---- */

@keyframes slideOut {
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

.fade-in ~ #scrim {
  animation: fadeIn 1s 1 forwards;
  -webkit-animation: fadeIn 300ms 1 forwards;
}

.fade-out ~ #scrim {
  animation: fadeOut 1s 1 forwards;
  -webkit-animation: fadeOut 300ms 1 forwards;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
